<html>
    <head>
        <title></title>
    </head>
    <body>
        <div class="inner-container">
            <%= form_with model: user do |form| %>
                <div class="mb-3 row">
                    <div class="col-sm-2">
                        <%= form.label :name, class: "form-label" %>
                    </div>
                    <div class="col-sm-3">
                        <%= form.text_field :name, class: "form-control" %>
                        <% user.errors.full_messages_for(:name).each do |message| %>
                            <div><%= message %></div>
                        <% end %>
                    </div>
                </div>
                <div class="mb-3 row">
                    <div class="col-sm-2">
                        <%= form.label :email, class: "form-label" %>
                    </div>
                    <div class="col-sm-3">
                        <%= form.text_field :email, class: "form-control" %>
                        <% user.errors.full_messages_for(:email).each do |message| %>
                            <div><%= message %></div>
                        <% end %>
                    </div>
                </div>
                <div class="mb-3 row">
                    <div class="col-sm-2">
                        <%= form.label :password, class: "form-label" %>
                    </div>
                    <div class="col-sm-3">
                        <%= form.password_field :password, class: "form-control" %>
                        <% user.errors.full_messages_for(:password).each do |message| %>
                            <div><%= message %></div>
                        <% end %>
                    </div>
                </div>
                <div class="mb-3 row">
                    <div class="col-sm-2">
                        <%= form.label :confirmPassword, class: "form-label" %>
                    </div>
                    <div class="col-sm-3">
                        <%= form.password_field :password_confirmation, class: "form-control" %>
                        <% user.errors.full_messages_for(:password_confirmation).each do |message| %>
                            <div><%= message %></div>
                        <% end %>
                    </div>
                </div>
                <div class="mb-3 row">
                    <div class="col-sm-2">
                        <%= form.label :role, class: "form-label" %>
                    </div>
                    <div class="col-sm-3">
                        <%= form.select :role, ['Admin', 'User', ''], selected: '', class: "form-select" %>
                        <% user.errors.full_messages_for(:role).each do |message| %>
                            <div><%= message %></div>
                        <% end %>
                    </div>
                </div>
                <div class="mb-3 row">
                    <div class="col-sm-2">
                        <%= form.label :phone, class: "form-label" %>
                    </div>
                    <div class="col-sm-3">
                        <%= form.text_field :phone, class: "form-control" %>
                        <% user.errors.full_messages_for(:phone).each do |message| %>
                            <div><%= message %></div>
                        <% end %>
                    </div>
                </div>
                <div class="mb-3 row">
                    <div class="col-sm-2">
                        <%= form.label :dob, class: "form-label" %>
                    </div>
                    <div class="col-sm-3">
                        <%= form.date_field :dob, class: "form-control" %>
                    </div>
                </div>
                <div class="mb-3 row">
                    <div class="col-sm-2">
                        <%= form.label :address, class: "form-label" %>
                    </div>
                    <div class="col-sm-3">
                        <%= form.text_area :address, class: "form-control" %>
                        <% @user.errors.full_messages_for(:address).each do |message| %>
                            <div><%= message %></div>
                        <% end %>
                    </div>
                </div>
                <div class="mb-3 row">
                    <div class="col-sm-2">
                        <%= form.label :profile, class: "form-label" %>
                    </div>
                    <div class="col-sm-3">
                        <%= form.file_field :profile, class: "form-control" %>
                        <% user.errors.full_messages_for(:profile).each do |message| %>
                            <div><%= message %></div>
                        <% end %>
                    </div>
                </div>
                <div class="mb-3 row">
                    <div class="col-sm-2">
                        <%= form.submit "Confirm", class: "btn btn-primary" %>
                    </div>
                    <div class="col-sm-3">
                        <%= form.submit "Clear", class: "btn btn-primary" %>
                    </div>
                </div>
            <% end %>
        </div>
    </body>
</html>