<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <form>
            <ul>
                <%= form_tag posts_path, :method => 'get' do %>
                    <li><%= text_field_tag :search, params[:search] %></li>
                    <li><%= submit_tag "Search" %></li>
                <% end %>
                <li><%= link_to "Add", new_post_path %></li>
                <li><%= link_to "Download", posts_path(format: "csv") %></li>
                <li><%= link_to "Upload" %></li>
            </ul>
            <table>
                <tr>
                    <th class="post-header">Post Title</th>
                    <th class="post-header">Post Description</th>
                    <th class="post-header">Posted User</th>
                    <th class="post-header">Post Date</th>
                    <th class="post-header">Edit</th>
                    <th class="post-header">Delete</th>
                </tr>
                <% @posts.each do |post| %>
                    <tr>  
                        <td class="post-body">
                            <%= link_to post.title, post %>
                        </td>
                        <td class="post-body"><%= post.description %></td>
                        <td class="post-body"><%= post.create_user_id %></td>
                        <td class="post-body">10/05/2019</td>
                        <td class="post-body">
                            <%= link_to "Edit", edit_post_path(post) %>
                        </td>
                        <td class="post-body">
                            <%= link_to "Delete", post_path(post),
                                        method: :delete,
                                        data: { confirm: "Are you sure?" } %>
                        </td>
                    </tr>
                <% end %>
            </table>
        </form>
    </body>
</html>