<!DOCTYPE html>
<html>
  <head>
    <title>BulletinBoard</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="header"></p>
    <ul class="common-header">
      <% if current_user %>
      <li class="title-word">SCM Bulletin Board</li>
        <li><%= link_to "Users", root_path %></li>
        <li>User</li>
        <li><%= link_to "Posts", posts_path %></li>
        <li>
          <%= current_user.welcome %>
        </li>
        <li>
          <%= link_to "Log out", sessions_destroy_path, method:"delete" %>
        </li>
      <% end %>
    </ul>
    
    <%= yield %>
  
    <footer>
      <p>@copyright</p>
    </footer>

  </body>
</html>
