<!DOCTYPE html>
<html>
  <head>
    <title>BulletinBoard</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="header"></p>
    <ul class="common-header">
      <li class="title-word">SCM Bulletin Board</li>
      <li><%= link_to "Users", users_index_path %></li>
      <li>User</li>
      <li><%= link_to "Posts", root_path %></li>
      <li><strong>Phue Pwint Phway</strong>(loginname)</li>
      <li>Logout</li>
    </ul>
    
    <%= yield %>

    <footer>
      <p>@copyright</p>
    </footer>

  </body>
</html>
